{% load static %}


<!-- 🎯 عنوان صفحه (داینامیک) -->
<title>{% block title %}Sajad Hatami | Python & Django Backend Developer{% endblock %}</title>

<meta name="description" content="{% block description %}Sajad Hatami - Python and Django backend developer and IT student from Tehran, focused on building software applications, web development, and AI tools.{% endblock %}">
<meta name="keywords" content="{% block keywords %}Sajad Hatami, Backend Developer, Python, Django, Web Development, IT Student, Git, GitHub, Linux, SQL, Tehran{% endblock %}">
<meta name="author" content="Sajjad Hatami">
<link rel="canonical" href="{% block canonical %}https://sajadhatami.ir/{% endblock %}">

<meta property="og:type" content="website">
<meta property="og:url" content="{% block og_url %}https://sajadhatami.ir/{% endblock %}">
<meta property="og:title" content="{% block og_title %}Sajad Hatami | Python & Django Backend Developer{% endblock %}">
<meta property="og:description" content="{% block og_description %}Explore my professional projects, web development courses, and deep-dive technical articles.{% endblock %}">
<meta property="og:image" content="{% block og_image %}{% static 'img/my-profile-img1.jpg' %}{% endblock %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{% block twitter_url %}https://sajadhatami.ir/{% endblock %}">
<meta name="twitter:title" content="{% block twitter_title %}Sajad Hatami | Python & Django Backend Developer{% endblock %}">
<meta name="twitter:description" content="{% block twitter_description %}Explore my professional projects, web development courses, and deep-dive technical articles.{% endblock %}">
<meta name="twitter:image" content="{% block twitter_image %}{% static 'img/my-profile-img1.jpg' %}{% endblock %}">